/* navBar.css */
.menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: black;
}

.item {
    width: 30%;
    color: white;
    
    
}


/* Estilos generales para la barra de navegación */
.bg-body-tertiary {
  background-color: #061932;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow */
  transition: all 0.3s ease-in-out;
}

.basic-navbar-nav{
    background-color: #061932;
}


/* Estilos para el enlace en la barra de navegación */

.nav-link,
.navbar-brand,
.navbar-toggler-icon {
  color: #C1CDEE;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.navbar-brand:hover { /* Added hover effect */
  color: #6ddc9f;
  transform: scale(1.05);
}


/* Estilos para el fondo de la barra de navegación desplegada */
/* .navbar-nav {
  background-color: #061932;
} */

/* Estilos para el fondo del menú desplegable */
.dropdown-menu {
  background-color: #061932;
  border: none;
}

/* Estilos para los enlaces en el menú desplegable */
.dropdown-item {
  color: #C1CDEE;
  transition: all 0.3s ease-in-out;
}

/* Estilos para el enlace activo */
.navbar-nav .active .nav-link {
  color: #6ddc9f;
}

/* Ajustes para el botón de alternancia en dispositivos pequeños */
.navbar-toggler {
  background-color: #67748F;
  border: none;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover {
    background-color: #8A9CB8; /* Added hover effect */
}

/* Estilos para la barra superior en el menú desplegable */
.navbar-toggler-icon {
  background-color: #C1CDEE;
}

/* Ajustes para el enlace activo en el menú desplegable */
.dropdown-item.active,
.dropdown-item:active {
  background-color: #6ddc9f;
  color: #061932;
}

/* Ajustes para el enlace al pasar el ratón en el menú desplegable */
.dropdown-item:hover {
  background-color: #6ddc9f;
  color: #061932;
  transform: translateX(5px);
}