.index-container {
  padding: 50px 25px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.index-container .title {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.index-container .subtitle {
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 0.8;
  margin-bottom: 40px;
}

.index-container .text-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.8;
}

.index-container .text-container p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.icon-wrapper {
  text-align: center;
  transition: transform 0.3s ease;
  margin: 20px;
  width: 200px;
}

.icon-wrapper:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 4rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.icon-wrapper p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    color: var(--text-color);
}
